.action-layout {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #333333;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;

  &::after {
    border: none;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.action-layout-hover {
  opacity: 0.8;
}
