switch {
  position: relative;
}

switch::after,
switch::before {
  position: absolute;
  color: white !important;
  top: 0%;
  left: 0;
  width: 50%;
  text-align: center;
  pointer-events: none;
  transform: scale(0, 0);
  transition: all 0.3s ease-in-out 0s;
  z-index: 9;
  bottom: 0;
  height: 26px;
  margin: auto;
}

switch::before {
  right: 0;
  transform: scale(1, 1);
  left: auto;
}

switch[checked]::after,
switch.checked::after {
  transform: scale(1, 1);
}

switch[checked]::before,
switch.checked::before {
  transform: scale(0, 0);
}

switch[checked]::before {
  transform: scale(0, 0);
}

switch .wx-switch-input {
  border: none;
  padding: 0 24px;
  width: 72px;
  height: 40px;
  margin: 0;
  border-radius: 40px;
  background: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}

switch .wx-switch-input:not([class*="bg-"]) {
  background: #c1c1c1 !important;
}

switch[checked] .wx-switch-input {
  background: #39acff !important;
  border-color: #39acff !important;
}

switch .wx-switch-input::after {
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  transform: scale(0.9, 0.9);
  transition: all 0.1s ease-in-out 0s;
}

switch .wx-switch-input.wx-switch-input-checked::after {
  margin: auto;
  left: 32px;
  box-shadow: none;
  transform: scale(0.9, 0.9);
}

switch .wx-switch-input::before {
  display: none;
}
