.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  background-color: white;
  z-index: 10;

  &.immerse {
    transition: 0.5s;
    background-color: transparent;
  }
}

.action-bar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 88px;
  padding-right: 200px;

  &.back {
    padding-left: 72px;
  }

  &.home {
    padding-left: 72px;
  }
}

.action-back-box {
  width: 72px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-back {
  width: 36px;
  height: 36px;
}

.action-home {
  width: 44px;
  height: 44px;
}

.title {
  color: #2b2b2b;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.action-share-box {
  width: 80px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin: 0;
  border-radius: 0;
  background-color: transparent;

  &::after {
    border: none;
  }
}

.action-share {
  width: 44px;
  height: 44px;
}
