.pop-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  .pop {
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    min-height: 200px;
    position: absolute;
    background-color: white;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.12);
    animation-fill-mode: forwards;

    &.hide {
    }
  }
}

@keyframes fade-in {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: none;
  }
}

@keyframes fade-out {
  0% {
    transform: none;
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

.fade-in {
  animation: fade-in 0.4s;
}

.fade-out {
  animation: fade-out 0.4s;
}
